body{
    margin: 0;
}
.header{
    background-image: url('./picts/computering.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 75rem;
    position: relative;
    background-attachment: fixed;
    filter: grayscale(50%);
    transition-duration: 500ms;
}
.introduction{
    position: absolute; 
    margin: 0;
    width: 100%;
    text-align: center;
    top: 40%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#intro-text{
    color: white;
}
.navigation{
    height: 6.25rem;
    background-color: black;
    text-align: right;
    position: sticky;
    top: 0;
}
.nav-bar{
    display: inline-block;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    padding: 2.125rem 1.575rem;
}
.navbar:hover{
    background-color: gray;
    transition-duration: 500ms;
}
.light{
    display: inline-block;
    height: 3.5rem;
    padding: none;
    background-color: #FFBF00;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    color: white;
    border: none;
    border-radius: 0.625rem;
    transition-duration: 500ms;
    margin: 0.625rem 1.25rem;
}
.light:hover{
    background-color: #0a2472;   
}
.dark{
    background-color: #0a2472;
}
.dark:hover{
    background-color: #FFBF00;
}
.changebg{
    background-color: #000435;
    transition-duration: 500ms;
}
.givefilter{
    filter: invert(70%);
    transition-duration: 500ms;
}
.changefont{
    color: white;
    transition-duration: 500ms;
}
#mob-icon{
    float: left;
    display: none;
    padding-top: 1.75rem;
}
#mob-icon>img{
    height: 2.5rem;
}
#desk-icon{
    float: left;
}
.section1{
    text-align: center;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    transition-duration: 500ms;
}
.my-photo{
    height: 100%;
    max-height: 18.75rem;
    border-radius: 3.125rem;
}
.mobile-text{
    display: none;
}
.my-text{
    font-size: 1.875rem;
    width: 80%;
    max-width: 37.5rem;
    margin: 1.25rem auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    transition-duration: 500ms;
}
#perkenalan{
    max-width: 31.25rem;
}
.section2{
    text-align: center;
    padding-top: 1.875rem; 
    transition-duration: 500ms;  
}
.innersection2{
    display: inline-block;
    margin: 1.875rem 1.875rem;
}
#inline-photo, #inline-text{
    display: inline-block;
    vertical-align: middle;
}
#inline-text{
    max-width: 31.25rem;
    width: 80%;  
}
.section3{
    text-align: center;
    padding-top: 9.375rem;
    padding-bottom: 2.375rem;
    transition-duration: 500ms;
}
.my-hobi-text{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-decoration: underline;
    font-size: 2.5rem;
    transition-duration: 500ms;
}
.hobi-pict{
    height: 100%;
    max-height: 18.75rem;
}
#h-pict{
    height: 21.875rem;
    width: 21.875rem;
    margin-bottom: 0.625rem;
}
.hrule{
    margin-top: 3.125rem;
    max-width: 93.75rem;
    width: 100%;
    transition-duration: 500ms;
}
.contact-me{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-decoration: underline;
    font-size: 2.5rem; 
    text-align: center; 
    transition-duration: 500ms;   
}
.contact{
    padding-top: 1.875rem;
    text-align: center;
    transition-duration: 500ms;
}
.contact-info{
    display: inline-block;
}
#ask-me{
    margin: 1.875rem 6.25rem;
}
.info-text{
    display: block;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 1.875rem;
    text-align: left;
    transition-duration: 500ms;
}
.text{
    width: 43.75rem;
    height: 1.563rem;
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
#label3{
    height: 18.75rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.send{
    margin-top: 0.625rem;
    display: block;
    width: 43.75rem;
    height: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    color: white;
    background-color: lightskyblue;
    border: none;
    text-decoration: none;
    transition-duration: 500ms;
}
.send:hover{
    background-color: aqua;
}
#socmed{
    margin-top: 1.875rem;
    display: inline-block;
    vertical-align: top;
}
.socmeds{
    text-align: center;
    width: 43.75rem;
    margin: 1.875rem 1.25rem;
}
.num{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.25rem;
    transition-duration: 500ms;
}
#num-pic{
    height: 9.375rem;
    transition-duration: 500ms;
}
#num-pic:hover{
    filter: hue-rotate(180deg); 
}
#no{
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
}
.footer{
    background-color: black;
    height: 6.25rem;
    color: white;
    position: relative;
}
.copytext{
    position: absolute;
    top: 15%;
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: 100%;
}
@media only screen and (max-width: 1750px){
    html{
        font-size: 12px;
    }
}
@media only screen and (max-width: 1550px){
    html{
        font-size: 10px;
    }
}
@media only screen and (max-width: 1270px){
    html{
        font-size: 8px;
    }
}
@media only screen and (max-width: 1030px){
    html{
        font-size: 6px;
    }
    #inline-text{
        display: none;
    }
    #mob-icon{
        display: block;   
    }
    #desk-icon{
        display: none;
    }
    .mobile-text{
        transition-duration: 500ms;
        display: block;
        font-size: 1.875rem;
        width: 80%;
        max-width: 37.5rem;
        margin: 1.25rem auto;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: justify;
    } 
}
@media only screen and (max-width: 520px){
    #cont-nav{
        display: none;
    }
}